* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("IMG/cursor.png"), auto;
}

#container {
    background-color: white;
    width: 100%;
    height: 100%;
}

#container-cabecera {
    width: 100%;
    height: 12vh;
    background-color: rgb(128, 128, 128);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#container-article {
    position: relative;
    width: 100%;
    height: 80vh;
}

#img-paisaje {
    width: 100%;
    height: 70vh;
}

#img-perfil {
    position: absolute;
    top: 15%;
    left: 34%;
    width: 30%;
    height: auto;
    border-radius: 100%;
    border: 5px solid;
    animation: cambioDeBorde 2s infinite;
}

@keyframes cambioDeBorde {
    0% {
        border-color: #2874A6;
    }

    50% {
        border-color: #1E8449;
    }

    100% {
        border-color: #717D7E;
    }
}

#container-article2 {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
}

#titulo-blog {
    font-size: 300%;
    box-shadow: 2px 2px 20px white;
    filter: drop-shadow(2px 2px 20px gray);
}

#container-article3 {
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    column-gap: 150px;
}

#introduccion{
    box-shadow: 2px 2px 20px white;
    filter: drop-shadow(2px 2px 20px cyan);
}
#introduccion2{
    box-shadow: 2px 2px 20px white;
    filter: drop-shadow(2px 2px 20px cyan);
}
#bienvenido{
    box-shadow: 2px 2px 20px white;
    filter: drop-shadow(2px 2px 20px cyan);
}
#container-hobbies{
    display: flex;
    width: 1475px;
    height: 430px;  
}
.hobbies{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.hobbies:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

#titulo-hobbies {
    font-size: 200%;
    text-align: center;
}

.redes{
    cursor: pointer;
}
summary{
    font-weight: bold;
    font-size: 150%;
    cursor: pointer;
}