* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("IMG/cursor.png"), auto;
}

#container {
    background-color: white;
    width: 100%;
    height: 100%;
    background-image: url("IMG/fondo2.jpg");
}

#container-cabecera {
    width: 100%;
    height: 12vh;
    background-color: #7bb9bb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#name,
#blog {
    transition: color 0.5s ease-in-out;
}

summary {
    font-weight: bold;
    font-size: 150%;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

#quien-soy {
    cursor: pointer;
    color: black;
    transition: color 0.5s ease-in-out;
}

#quien {
    text-decoration: none;
}

#name:hover,
#blog:hover,
#quien-soy:hover,
summary:hover,
.titulo-bio:hover {
    animation: cambioColores 2s infinite;
}

@keyframes cambioColores {
    0% {
        color: blue;
    }

    25% {
        color: red;
    }

    50% {
        color: green;
    }

    75% {
        color: white;
    }

    100% {
        color: yellow;
    }
}

.redes {
    cursor: pointer;
}

.redes:hover {
    transform: translate(0, -10%);
}

#container-article {
    position: relative;
    width: 100%;
    height: 80vh;
}

#img-paisaje {
    width: 100%;
    height: 70vh;
}

#img-perfil {
    position: absolute;
    top: 15%;
    left: 34%;
    width: 30%;
    height: auto;
    border-radius: 100%;
    border: 5px solid;
    animation: cambioDeBorde 2s infinite;
}

@keyframes cambioDeBorde {
    0% {
        border-color: #2874A6;
    }

    50% {
        border-color: #1E8449;
    }

    100% {
        border-color: #717D7E;
    }
}

#container-article2 {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
}

#titulo-blog {
    font-size: 300%;
    box-shadow: 2px 2px 20px white;
    filter: drop-shadow(2px 2px 20px white);
}

#container-article3 {
    width: 100%;
    height: 10vh;
    display: flex;
    column-gap: 150px;
}

#introduccion,
#introduccion2,
#bienvenido {
    box-shadow: 2px 2px 20px white;
    filter: drop-shadow(2px 2px 20px white);
}

#container-hobbies {
    display: flex;
    width: 100%;
    height: 430px;
}

.hobbies {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border: solid 2px;
}

.hobbies:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    box-shadow: 2px 2px 20px cyan;
    filter: drop-shadow(2px 2px 20px cyan);
}

#art1,
#art2 {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
}

#titulo-hobbies,
#titulo-fav {
    font-size: 300%;
    text-align: center;
    margin: 20px;
    box-shadow: 2px 2px 20px white;
    filter: drop-shadow(2px 2px 20px white);
}

#container-article4 {
    margin: 20px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#container-article4 img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255, 0.684);
    transition: all ease-in-out 0.5s;
    border: solid 2px;
}

#container-article4 img:hover {
    width: 25%;
    box-shadow: 2px 2px 20px cyan;
    filter: drop-shadow(2px 2px 20px cyan);
}

#titulo-series,
#titulo-peliculas,
#titulo-comidas {
    margin: 50px;
    font-size: 50px;
    text-align: center;
}

#text-fav {
    text-align: center;
    box-shadow: 2px 2px 20px white;
    filter: drop-shadow(2px 2px 20px white);
}

#container-article5 {
    margin: 20px 0 0 200px;
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#container-article5 img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255, 0.684);
    transition: all ease-in-out 0.5s;
    border: solid 2px;
}

#container-article5 img:hover {
    width: 15%;
    box-shadow: 2px 2px 20px cyan;
    filter: drop-shadow(2px 2px 20px cyan);
}

#container-article6 {
    margin: 20px 0 0 200px;
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#container-article6 img {
    width: 15%;
    height: 50%;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 255, 0.684);
    transition: all ease-in-out 0.5s;
    border: solid 2px;
}

#container-article6 img:hover {
    width: 25%;
    box-shadow: 2px 2px 20px cyan;
    filter: drop-shadow(2px 2px 20px cyan);
}

.site-footer {
    background-color: #f5f5f5;
    padding: 10px 20px;
    color: #333;
}

hr {
    border: none;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 40px;
}

.footer-legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}

.footer-legal p {
    margin: 0;
}

.footer-legal ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-legal ul li {
    margin-right: 20px;
}

.footer-legal ul li a {
    text-decoration: none;
    color: #333;
}

.footer-legal ul li a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #container-cabecera {
        flex-direction: row;
        justify-content: space-around;
        height: auto;
    }

    #container-article {
        height: auto;
    }

    #img-paisaje {
        height: 50vh;
    }

    #img-perfil {
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
    }

    #titulo-blog {
        font-size: 250%;
        margin: 70px;
    }

    #container-article3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 50px;
        margin-bottom: 100px;
        padding: 20px;
    }

    #introduccion,
    #bienvenido,
    #introduccion2 {
        box-shadow: 2px 2px 20px white;
        filter: drop-shadow(2px 2px 20px white);
        padding: 10px;
        flex: 1;
        text-align: center;
    }


    #container-hobbies {
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .hobbies {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
        border: solid 2px;
    }

    #titulo-hobbies {
        font-size: 180%;
    }

    #text-fav {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }

    #container-article4,
    #container-article5,
    #container-article6 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        width: 100%;
        height: auto;
        gap: 20px;
        margin: 20px 0;
    }

    #container-article4 img,
    #container-article5 img,
    #container-article6 img {
        width: 50%;
        height: auto;
        transition: width 0.5s ease-in-out;
    }

    #titulo-series,
    #titulo-peliculas,
    #titulo-comidas,
    #titulo-fav {
        font-size: 30px;
        text-align: center;
        margin: 30px;
        grid-column: span 2;
    }

    #container-article4 img:hover,
    #container-article5 img:hover,
    #container-article6 img:hover {
        width: 70%;
    }

    .footer-legal {
        flex-direction: column;
        text-align: center;
    }

    .footer-legal ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-legal ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-legal ul li:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 440px) {
    #container-cabecera {
        flex-direction: column;
        height: auto;
    }

    #container-article {
        height: auto;
    }

    #img-paisaje {
        height: 40vh;
    }

    #img-perfil {
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
    }

    #titulo-blog {
        font-size: 200%;
    }

    #container-article3 {
        flex-direction: column;
        column-gap: 3;
        row-gap: 20px;
        margin-bottom: 150px;
    }

    #introduccion {
        order: 2;
    }

    #bienvenido {
        order: 1;
    }

    #introduccion2 {
        order: 3;
    }

    #container-hobbies {
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
    }

    .hobbies {
        width: 60%;
        height: auto;
        flex-grow: 0;
        border: solid 5px;
    }

    #titulo-hobbies {
        font-size: 50px;
    }

    #container-article4,
    #container-article5,
    #container-article6 {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 20px 0;
        align-items: center;
    }

    #container-article4 img,
    #container-article5 img,
    #container-article6 img {
        width: 60%;
        height: auto;
    }

    #titulo-series,
    #titulo-peliculas,
    #titulo-comidas {
        font-size: 50px;
        margin: 30px;
    }

    #text-fav {
        font-size: 100%;
    }

    #container-article4 img:hover,
    #container-article5 img:hover,
    #container-article6 img:hover {
        width: 70%;
    }

    .footer-legal {
        flex-direction: column;
        text-align: center;
    }

    .footer-legal ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-legal ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-legal ul li:last-child {
        margin-bottom: 0;
    }

    .site-footer {
        padding: 10px;
    }

    hr {
        margin-bottom: 20px;
    }
}

/*------------------------- INDEX2-¿QUIEN SOY? ------------------------ */

.container2 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url("IMG/fondo.jpeg");
}

.container-header {
    background-color: rgb(172, 175, 176);
    color: white;
    padding: 20px;
    text-align: center;
}

.container-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    text-align: center;
}

.text-info {
    text-align: justify;
    line-height: 1.6;
}

.scroll-container {
    width: 100%;
    height: 150px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}